/node_modules
/public/hot
/public/storage
/public/app-assets/backend/build
/public/mix-manifest.json
/public/mix.js.map
/storage/*.key
/storage/*.*
/public/uploads
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
